@font-face {
  font-family: 'FREESCPT';
  src: url('../fonts/FREESCPT.woff2'), url('../fonts/FREESCPT.woff');
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  color: $dark;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  color: $title;
}

.btn {
  display: block;
  padding: 15px 65px;
  border: none;
  background-color: $btn-bg;
  color: $white;
  transition: background-color 0.3s linear;

  &:hover {
    cursor: pointer;
    background-color: $btn-acitve;
  }
}
