@font-face {
  font-family: 'FREESCPT';
  src: url('../fonts/FREESCPT.woff2'), url('../fonts/FREESCPT.woff');
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  color: $dark;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

li {
  list-style: none;
  margin-left: 0;
}

.title {
  text-transform: uppercase;
  color: $violet;
}

.btn {
  display: block;
  padding: 10px 50px;
  border: none;
  background-color: $btn-bg;
  color: $white;
  transition: background-color 0.3s linear;
  &:hover {
    cursor: pointer;
    background-color: #2c46ec;
  }
}
