@mixin presentation-bg($minH, $srcImg, $overBg) {
  max-width: 100%;
  min-height: $minH;
  background-image: $srcImg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &--overlay {
    width: 100%;
    min-height: $minH;
    background-color: $overBg;
  }
}
