$white: #fff;
$dark: #555555;
$dark-grey: #777;
$grey888: #888;
$grey: #999;
$light-grey: #f2f2f2;
$violet: #5b6ceb;

$nav-active: #5363db;
$btn-bg: $violet;
$btn-acitve: #475bf1;
$title: $violet;

$overlay-bg: rgba(83, 99, 219, 0.7);

// path img

$first-img: url(../../images/img-visual.jpg);
$second-img: url(../../images/img-visual02.jpg);
