$white: #fff;
$dark: #2a2a2a;
$grey: #ccc;
$active: #a1a8dd;
$violet: #6776df;
$light-grey: #eee;

$btn-bg: #586ceb;
$overlay-bg: rgba(75, 89, 245, 0.8);

// path img

$first-img: url(../../images/img-visual.jpg);
$second-img: url(../../images/img-visual02.jpg);
