$white: #fff;
$dark-grey: #555;
$light-grey: #f2f2f2;
$grey999: #999;
$grey888: #888;
$grey777: #777;
$grey_d7: #d7d7d7;
$light-blue: #5363db;
$blue: #5b6ceb;
$dark-blue: #475bf1;
$violet: #5363d8;
$light-violet: #b7bffc;

// Fonts
$main-fonts: 'Open Sans', Arial, Helvetica, sans-serif;
$creative-font: 'FREESCPT', 'Open Sans', Arial, Helvetica, sans-serif;

// Navigation
$nav: $dark-grey;
$nav-active: $light-blue;

// Form
$form-title: $light-blue;
$input-bg: $light-grey;
$input-text: $grey888;

// Title section
$title: $blue;
$subtitle: $grey777;

// Text
$text: $dark-grey;

// Button
$button-bg: $blue;
$button-hover: $dark-blue;

// Card
$card-title: $grey777;
$card-text: $dark-grey;
$card-type: $grey999;

// Gallery
$img-overlay: $blue;

// Card
$card-header-bg: $blue;
$card-header-text: $white;
