.about-inner {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.about-info {
  margin-bottom: 20px;
  flex: 0 0 50%;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    max-width: 470px;
    color: $text;

    @media (min-width: 768px) {
      max-width: 300px;
    }

    @media (min-width: 992px) {
      max-width: 470px;
    }
  }
}
