#burger-menu {
  display: none;
  &:checked {
    ~ .nav__list {
      transform: translateX(0);
      width: 320px;
    }

    ~ .burger-menu-open {
      span {
        opacity: 0;
      }
      &::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
      &::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }
  @media (min-width: 768px) {
  }
}

.burger-menu-open {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;

  &::before,
  &::after,
  span {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    width: 100%;
    background-color: $violet;
    transition: all 0.5s linear;
  }

  &::before {
    top: 5px;
  }

  &::after {
    top: calc(100% - 5px);
  }

  @media (min-width: 768px) {
    display: none;
  }
}
