.footer {
  background-color: $violet;
}

.footer-inner {
  display: flex;
  margin: 0 -10px;
  &__items {
    flex-basis: (100% / 2);
    padding: 100px 10px;
  }
}

.block {
  &__title {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $white;
  }
  &__text {
    width: 470px;
    margin-bottom: 70px;
    color: $white;
    line-height: 22px;
  }
  &__link-icon {
    text-decoration: none;
  }

  &__icon {
    margin-right: 20px;
    color: $white;
    font-size: 20px;
    &:hover {
      cursor: pointer;
      color: #ccc;
    }
  }
}

.contact-inform-inner {
  display: flex;
  width: 470px;
  padding-left: 40px;
  &__items {
    flex-basis: calc(100% / 2);
  }
}
.item {
  &__text {
    width: 160px;
    min-height: 45px;
    color: $white;
    margin-bottom: 30px;
  }

  &__icon-location {
    position: relative;
    &::before {
      position: absolute;
      content: '\e905';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }
  &__icon-phone {
    position: relative;
    &::before {
      position: absolute;
      content: '\e909';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }
  &__icon-mail {
    position: relative;
    &::before {
      position: absolute;
      content: '\e900';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }

  &__icon-web {
    position: relative;
    &::before {
      position: absolute;
      content: '\e90b';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $white;
  }
}

.copyright {
  padding: 40px 0;
  text-align: center;
  background-color: #5363d8;
  color: #b7bffc;
}
