.footer {
  background-color: $blue;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  margin: 0 -10px;

  @media (min-width: 567px) {
    // flex-direction: row;
  }

  @media (min-width: 768px) {
    // flex-direction: row;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__items {
    padding: 50px 10px 0;

    @media (min-width: 768px) {
      flex-basis: (100% / 2);
    }

    @media (min-width: 768px) {
      padding: 50px 10px 0;
      flex-basis: (100% / 2);
    }

    @media (min-width: 992px) {
      padding: 90px 10px 0px;
      flex-basis: (100% / 2);
    }
  }
}

.block {
  &__title {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $white;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 992px) {
      margin-bottom: 60px;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: $white;
    line-height: 22px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 992px) {
      width: 470px;
      margin-bottom: 65px;
    }
  }
}

.contact-inform-inner {
  display: flex;
  flex-direction: column;
  // width: 470px;
  padding-left: 40px;

  @media (min-width: 567px) {
    flex-direction: row;
  }

  @media (min-width: 768px) {
    display: flex;
    padding-left: 40px;
  }

  @media (min-width: 992px) {
    display: flex;
    width: 470px;
    padding-left: 40px;
  }
  &__items {
    flex-basis: calc(100% / 2);
  }
}
.item {
  margin-right: 150px;
  &__text {
    width: 160px;
    min-height: 45px;
    color: $white;
    margin-bottom: 20px;
  }

  &__icon-location {
    position: relative;

    &::before {
      position: absolute;
      content: '\e905';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }
  &__icon-phone {
    position: relative;

    &::before {
      position: absolute;
      content: '\e909';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }

  &__icon-mail {
    position: relative;

    &::before {
      position: absolute;
      content: '\e900';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }

  &__icon-web {
    position: relative;

    &::before {
      position: absolute;
      content: '\e90b';
      top: 0px;
      left: -40px;
      font-size: 20px;
      font-family: icomoon;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $white;
  }
}

.block-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

  @media (min-width: 567px) {
    justify-content: start;
  }

  @media (min-width: 768px) {
    display: block;
    margin-bottom: 100px;
  }
  &__link-icon {
    text-decoration: none;
  }

  &__icon {
    margin-right: 14px;
    color: $white;
    font-size: 20px;
    &:hover {
      cursor: pointer;
      color: $light-grey;
    }
  }
}

.copyright {
  padding: 20px 0;
  text-align: center;
  background-color: $violet;
  color: $light-violet;

  @media (min-width: 992px) {
    padding: 40px 0;
  }
}
