.gallery {
  display: flex;
  flex-wrap: wrap;

  &__container {
    position: relative;
    flex-basis: calc(100% / 2);

    @media (min-width: 768px) {
      flex-basis: calc(100% / 4);
    }

    &:hover .gallery__overlay {
      opacity: 0.8;
    }

    &:hover .gallery__link {
      opacity: 1;
    }
  }

  &__img {
    display: block;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: $img-overlay;
    transition: opacity 0.4s ease;
    z-index: 1;
  }

  &__link {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 50%;
    transition: all 0.4s linear;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 100;

    &:hover {
      background-color: $light-grey;
    }

    &:hover .gallery__find-icon {
      color: $button-hover;
    }
  }

  &__find-icon {
    @extend %block-center;
    // display: block;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 20px;
    color: $blue;
    transition: color 0.3s linear;
  }
}
