.header {
  &__nav {
    padding: 45px 0;
  }
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 30px;
  }
  &__link {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $active;
    }
  }
  &__link--active {
    position: relative;
    color: $active;
    &::before {
      content: '';
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: $active;
      left: 50%;
      transform: translateX(-50%);
      bottom: -5px;
    }
  }
}

.header-presentation {
  @include presentation-bg(675px, $first-img, $overlay-bg) // max-width: 10
    // min-height: 675
    // background-image: $first-i
    // background-repeat: no-repe
    // background-position: cent
    // background-size: cov
    // &--overlay
    //   width: 10
    //   min-height: 675
    //   background-color: rgba(75, 89, 245, 0.
    //;
;
}

.header-presentation-inner {
  display: flex;
  align-items: center;
  padding: 100px 0;

  // padding: 100px 0;
}

.flex-item {
  flex: 0 0 50%;
}

.header-presentation__form {
  padding: 40px 20px 30px;
}

.header-presentation__form-container {
  padding-right: 50px;
}

.form {
  background-color: $white;
  width: 300px;
  // height: 350px;
  margin-left: auto;
  // padding-right: 50px;
  border-radius: 20px;
  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 26px;
    color: $violet;
    font-weight: 600;
  }
  &__input {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: $light-grey;
    border: none;

    &::placeholder {
      color: $grey888;
    }
  }
  &__select {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 10px;
    border-radius: 10px;
    color: $grey888;
    background-color: $light-grey;
    border: none;
  }

  &__btn {
    margin-left: auto;
    border-radius: 5px;
  }
}

.header-text {
  color: $white;
  padding-left: 50px;
  &__title {
    max-width: 482px;
    font-size: 48px;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__subtitle {
    max-width: 300px;
    font-family: 'FREESCPT';
    font-size: 40px;
  }
}
