.price {
  position: relative;
}
.price--decor {
  padding: 20px 0;
  background-image: url(../../images/bg-03.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 992px) {
    padding: 100px 0;
    background-size: contain;
  }
}
.price-row {
  @media (min-width: 567px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__items {
    margin-bottom: 20px;
    background-color: $white;
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);

    @media (min-width: 992px) {
      justify-content: space-between;
    }
  }
}

.card-price {
  border-radius: 10px;
  overflow: hidden;

  &__amount-container {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    background-color: $card-header-bg;
    color: $card-header-text;

    @media (min-width: 768px) {
      padding: 40px 0;
    }
  }

  &__currency {
    margin-right: 10px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 700;
    align-self: center;
  }

  &__amount {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 68px;
      line-height: 76px;
    }
  }

  &__period {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    align-self: flex-end;
  }

  &__btn {
    margin-bottom: 30px;
    padding: 15px 50px;
    border: 0;
    border-radius: 30px;
    background-color: $button-bg;
    color: $white;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    transition: background-color 0.4s linear;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);

    @media (min-width: 768px) {
      margin-bottom: 50px;
    }

    &:hover {
      cursor: pointer;
      background-color: $button-hover;
    }
  }
}

.description {
  color: $text;
  text-align: center;

  @media (min-width: 567px) {
    padding: 50px 50px 0;
  }

  @media (min-width: 768px) {
    padding: 30px 60px 0;
  }

  @media (min-width: 992px) {
    text-align: left;
  }

  &__item {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    @media (min-width: 768px) {
      font-size: 18px;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 100px;
      height: 1px;
      left: 50%;
      bottom: -100%;
      background-color: $grey_d7;
      transform: translateX(-50%);
    }

    &:last-child::after {
      display: none;
    }
  }
}

.btn-container {
  text-align: center;
}
