.programs {
  &__title {
    margin-top: 60px;
    text-align: center;
    letter-spacing: 1.2px;
  }
  &__subtitle {
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
  }
}

.programs-inner {
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;

    flex: 0 0 400px;
  }
  &__item-container {
    flex: 0 0 200px;
  }
  &__item-img {
    max-width: 100%;
    height: auto;
  }
  &__item-information {
    flex: 0 0 200px;
  }
}
