.service {
  position: relative;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  margin: 0 -20px;

  @media (min-width: 768px) {
    padding: 100px 0;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    padding: 0 20px;

    @media (min-width: 567px) {
      margin: 20px 0;
      padding: 0 20px;
      flex-basis: (100% / 2);
    }

    @media (min-width: 768px) {
      padding: 0 15px;
      flex-basis: (100% / 4);
    }

    @media (min-width: 992px) {
      padding: 0 20px;
    }
  }
}

.element {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__img-container {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 3px solid $white;
  }

  &__img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    width: 185px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: $white;
    flex-grow: 1;

    @media (min-width: 768px) {
      width: 160px;
    }
  }

  &__text {
    font-size: 16px;
    color: $white;
  }
}
